 *{ margin: 0;
        padding: 0%;
box-sizing: border-box;}
header{
         position:sticky; top: 0px;
        background-color: white;
        z-index: 1;
}
.fa-solid{
        display: none;
}
#navbar{
            display: flex;
            justify-content: space-between;
             padding: 0 20px;
             height: 70px;
             align-items: center;
        }
#navbar .logo{
        font-size: 25px;
        font-weight: 800;}
.logo{ 
        font-weight: 500;
        display: flex;}
 #navbar ul{
            display: flex;
            gap: 30px;
            list-style-type: none;
          
        }
 #navbar nav ul{
        color: black;
 }
 nav{
margin-right: 100px;

}
nav a{font-weight: 500;
        color: black;
        padding: 30px;
        text-transform: capitalize;
        justify-content: space-between;
        text-decoration: none;
        cursor: pointer;
}
nav ul  :hover{
        color: blue;
       text-decoration: underline;
         transform: scale(1.5);
        transition: 0.5s ease-in-out;
}
        

#navbar .logo span:first-of-type{color: rgb(0, 4, 213);text-shadow: 2px;}
@media(max-width: 550px){
         #navbar ul{
                display: none;
         }
         .fa-solid{
                font-size: xx-large;
                display: block;
         }
         header{
         position:sticky; top: 0px;
        background-color: white; width: 100%;
        z-index: 1;}
         }


