.skills{
    padding: 100px;
    margin: auto;
    background-color: rgb(253, 253, 253);
    justify-content: center;align-items: center;text-align: center;
    animation:skill 5s linear ;  
animation-timeline: view(); animation-range: entry 20% cover 70vh;
}
@keyframes skill {
    from{opacity: 0; /*transform: translateY(100px);*/scale: 0.5;}
    to{opacity: 1; /*transform:translateY(0px);*/ scale: 1;} 
}

.skills h1{
padding: 10px;
}
.skills p{
    padding: 10px;
    opacity: 0.7;
}
.skills button{
    justify-content: space-between;
    margin: 10px;
    width: 100px;
    padding: 10px;
    background-color: rgb(1, 1, 77);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    font-weight: 600;
}
.skills button:last-of-type{
    background-color: blue;
    width: fit-content;
}


.skills button:hover{
    transform: translateY(-5px);
    transition: 1s ease-in-out;
          /* transform: scale(1.8);
  cursor: pointer;
  box-shadow: 0 4px 15px 0px;
  transition: 0.5s ease-in;
  transition: all 0.8s ease-out; */
}
.skills  #sb  :hover{ transform: scale(1.2);
  cursor: pointer; background-color: rgb(4, 4, 37);
  box-shadow: 0 4px 15px 0px;
  transition: 0.5s ease-in;
  transition: all 0.8s ease-out;}
